<% unless comment.body == nil %>
<p>
  <strong>Commenter:</strong>
  <%= comment.author.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if policy(@article).destroy? %>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </p>
  <% end %>
<% end %>