/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.Pattaya {
  font-family: "Pattaya", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.article-img {
  width: 60%;
  height: 30%;
  object-fit: cover;
}

.card {
  border: 1px solid gray !important;
  background-color: #f0f0f0 !important;
}

.lmargin {
  margin-left: 30px;
}

.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block
}